# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
.DS_Store
*.lock
Pods/Alamofire/LICENSE
Pods/Alamofire/README.md
Pods/Alamofire/Source/AFError.swift
Pods/Alamofire/Source/Alamofire.swift
Pods/Alamofire/Source/DispatchQueue+Alamofire.swift
Pods/Alamofire/Source/MultipartFormData.swift
Pods/Alamofire/Source/NetworkReachabilityManager.swift
Pods/Alamofire/Source/Notifications.swift
Pods/Alamofire/Source/ParameterEncoding.swift
Pods/Alamofire/Source/Request.swift
Pods/Alamofire/Source/Response.swift
Pods/Alamofire/Source/ResponseSerialization.swift
Pods/Alamofire/Source/Result.swift
Pods/Alamofire/Source/ServerTrustPolicy.swift
Pods/Alamofire/Source/SessionDelegate.swift
*.swift
Pods/Pods.xcodeproj/project.pbxproj
Pods/Target Support Files/Alamofire/Alamofire-dummy.m
Pods/Target Support Files/Alamofire/Alamofire-prefix.pch
Pods/Target Support Files/Alamofire/Alamofire-umbrella.h
Pods/Target Support Files/Alamofire/Alamofire.modulemap
Pods/Target Support Files/Alamofire/Alamofire.xcconfig
Pods/Target Support Files/Alamofire/Info.plist
Pods/Target Support Files/Pods-OneLineJsonParsing/Info.plist
Pods/Target Support Files/Pods-OneLineJsonParsing/Pods-OneLineJsonParsing-acknowledgements.markdown
Pods/Target Support Files/Pods-OneLineJsonParsing/Pods-OneLineJsonParsing-acknowledgements.plist
Pods/Target Support Files/Pods-OneLineJsonParsing/Pods-OneLineJsonParsing-dummy.m
Pods/Target Support Files/Pods-OneLineJsonParsing/Pods-OneLineJsonParsing-frameworks.sh
Pods/Target Support Files/Pods-OneLineJsonParsing/Pods-OneLineJsonParsing-resources.sh
Pods/Target Support Files/Pods-OneLineJsonParsing/Pods-OneLineJsonParsing-umbrella.h
Pods/Target Support Files/Pods-OneLineJsonParsing/Pods-OneLineJsonParsing.debug.xcconfig
Pods/Target Support Files/Pods-OneLineJsonParsing/Pods-OneLineJsonParsing.modulemap
Pods/Target Support Files/Pods-OneLineJsonParsing/Pods-OneLineJsonParsing.release.xcconfig
